.property-instance label { display: inline-block; word-break: break-word; line-height: 1em; padding-top: 0.15em; padding-right: 1em; flex-shrink: 0; position: relative; }
.property-instance:not(:first-child) > label { visibility: hidden; max-height: 0; }
.mode-edit .property-instance label { width: var(--label-width); }


shacl-node h1 { font-size: 1.4rem; }

.shacl-group.collapsible.open { background-color: #b9daf5; }

.collapsible > .activator { padding: 20px 25px; margin-top: 0; margin-bottom: 20px; background-color: #b9daf5; }
.collapsible > .activator:hover, .collapsible.open > .activator { background-color: #7dbef3; }

.collapsible > shacl-property { padding-left: 50px; }
.property-instance, .shacl-or-constraint .property-instance { display: flex; align-items: center; gap: 10px; padding-left: 50px; }

.property-instance.valid::before { font-size: 2.0rem; left: calc(var(--label-width) - 2em); top: 2px; }
.editor:not([type='checkbox']) { font-size: 1.0rem; border: 1px solid #DDD; }

.add-icon-button { color: green; }
